#fdiv {

    border: 2px solid black;
    border-radius: 20px;
    text-align: center;

    width: 600px;
    height: 300px;

    margin-left: auto;
    margin-right: auto;





}



#h1 {


    color: blueviolet;



}